extends ../template

block variables
    - var title = "Блог" 
    -
        var articles = [
            ['4', 'Заголовок статьи', '17.12.2017', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium quidem, repellat ullam iure adipisci dolores distinctio tempore veritatis, velit harum nobis voluptate consequuntur enim maxime quo quae, minus quibusdam?'],
            ['3', 'Заголовок статьи1', '07.12.2017', '11Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium quidem, repellat ullam iure adipisci dolores distinctio tempore veritatis, velit harum nobis voluptate consequuntur enim maxime quo quae, minus quibusdam?'],
            ['2', 'Заголовок статьи2', '29.11.2017', '111Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium quidem, repellat ullam iure adipisci dolores distinctio tempore veritatis, velit harum nobis voluptate consequuntur enim maxime quo quae, minus quibusdam?'],
            ['1', 'Заголовок 3', '28.11.2017', '11111Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium quidem, repellat ullam iure adipisci dolores distinctio tempore veritatis, velit harum nobis voluptate consequuntur enim maxime quo quae, minus quibusdam?']                        
        ]

block content
    include ../common/spinner.pug
    .wrapper
        include ../common/hero.pug
        section.section
            svg.triangle.triangle_fill_white.triangle_up(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
                polygon(points="0,0   0,86   500,86   500,75.5 1000,0   1000,86   500,86   500,75.5")                    
            .section-title.title-blog
                .block-title Блог                
            .blog.container
                .blog__sidebar
                    .blog__sidebar-trigger
                    ul.blog__headings-list                 
                        each item in articles
                            li.blog__headings-item(data-scroll=`${item[0]}`)
                                a.blog__headings-link #{item[1]}                        
                .blog__content.articles
                    ul.articles__list
                        each item in articles
                            li.articles__item(data-scroll-to=`${item[0]}`)
                                .articles__title #{item[1]}   
                                .articles__date #{item[2]}   
                                p  #{item[3]}                                
    include ../common/footer.pug
            